# Example environment variables
# Copy this to .env and fill in the values

DATABASE_URL=
DATABASE_AUTH_TOKEN=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
BETTER_AUTH_TRUSTED_ORIGINS=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
# Upstash Redis (Rate Limiting)
UPSTASH_REDIS_REST_URL=https://your-redis-url.upstash.io
UPSTASH_REDIS_REST_TOKEN=your-token

# Next Public
NEXT_PUBLIC_API_URL=http://localhost:3000
EXPO_PUBLIC_API_URL=http://localhost:3000
